html {
    height: 100%;
}

body {
    background-color: #f5f5f5;
    height: 100%;
    font-family: "Trebuchet MS", serif;
}

.header {
    height: 5em;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header h1 {
    font-size: 3em;
    font-weight: bold;
    color: black;
    margin-left: 2em;
    margin-top: auto;
    margin-bottom: auto;
}

.header .buttons {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.error {
    border-color: red;
}

.wrapper {
    margin-top: 5em;
    display: flex;
    height: 100%;
}

.left {
    width: 60%;
}

.right {
    width: 30%;
}

.ticket {
    background-color: #AFD3E2;
    width: 80%;
    height: 60%;
    border-radius: 7px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    font-size: 25px;
}

.queue {
    background-color: #AFD3E2;
    width: 100%;
    height: 45%;
    border-radius: 7px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    font-size: 25px;
    overflow-y: scroll;
}

.student-name {
    background-color: #AFD3E2;
    border-radius: 7px;
    margin: 50px 10% -20px;
    width: 50%;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    font-size: 25px;
}

.buttons {
    text-align: center;
}

.button {
    margin: auto;
    background-color: #19A7CE;
    border: none;
    border-radius: 7px;
    display: inline-block;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-right: 20px;
}

.teacher-buttons {
    margin-top: 140px;
}

.button:hover {
    background-color: #146C94;
    cursor: pointer;
}


.page-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-block {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

#header {
    position: absolute;
    left: 0;
    top: 0;
    height: 5em;
}

.flex {
    display: flex;
}

.modal {
    display: none; /* начинается с скрытия окна */
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-height: 50%;
    overflow-y: auto;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.close:hover {
    color: black;
}

.user-name-logout {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.full-name {
    display: block;
}


.inp-round {
    margin: 10px;
    padding:10px;
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    width: 90%;
}

.inp-round:focus {
    outline-color: gray;
}

.input-error {
    border: 2px solid red;
    border-radius: 5px;
}


.exit-button {
    background-color: transparent;
    border: 0;
    height: fit-content;
    text-align: center;
    color: red;
    display: inline-block;
    padding: 5px 5px;
    cursor: pointer;
    letter-spacing: 2px;
    position:relative;
    overflow:hidden;
    margin: 0 20px;
}

.exit-button:before {
    content: "";
    position: absolute;
    width: 0;
    background : red;
    left: 45%;
    height: 2px;
    bottom: 0;
    transition: all .3s;
    opacity: 0.7;
}

.exit-button:hover:before {
    width: 100%;
    left:0;
}