html {
    height: 100%;
}

body {
    background-color: #f6f1F1;
    height: 100%;
    font-family: "Trebuchet MS" , serif;
}

.header {
    background-color: #146C94;
    height: 5em;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header h1 {
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    margin-left: 2em;
    margin-top: auto;
    margin-bottom: auto;
}

.header button {
    font-size: 1.2em;
}

.header .buttons {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.error {
    border-color: red;
}

.wrapper {
    display: flex;
    height: 100%;
}

.left {
    width: 60%;
}

.right {
    width: 30%;
}

.ticket {
    background-color: #AFD3E2;
    width: 80%;
    height: 60%;
    border-radius: 7px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    font-size: 25px;
}

.queue {
    background-color: #AFD3E2;
    width: 100%;
    height: 45%;
    border-radius: 7px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    font-size: 25px;
    overflow-y: scroll;
}

.student-name {
    background-color: #AFD3E2;
    border-radius: 7px;
    margin: 50px 10% -20px;
    width: 50%;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    font-size: 25px;
}

.buttons {
    text-align: center;
}

button {
    margin: auto;
    background-color: #19A7CE;
    border: none;
    border-radius: 7px;
    display: inline-block;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-right: 20px;
}

.teacher-buttons {
    margin-top: 140px;
}

button:hover {
    background-color: #146C94;
    cursor: pointer;
}


.page-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-block {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}