html {
    height: 100%;
}

body {
    background-color: #f6f1F1;
    height: 100%;
    font-family: "Trebuchet MS", serif;
}

.header {
    padding-left: 2%;
    padding-right: 2%;
    background-color: #146C94;
    height: 5em;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    font-size: 3em;
    font-weight: bold;
    color: #fff;
}

.header button {
    font-size: 1.2em;
}

.header .buttons {
    margin-right: 3%;
    /* margin-top: auto; */
    /* margin-bottom: auto;*/
}

.error {
    border-color: red;
}

.wrapper {
    margin-top: 5em;
    display: flex;
    justify-content: space-between;
    height: 87%;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.left {
    /*width: 60%;*/
}

.right {
    /*width: 30%;*/
}

.ticket {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: #AFD3E2;
    width: 97%;
    height: 70%;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    /*padding: 3.5%;*/
    font-size: 25px;
}

.queue {
    text-align: center;
    background-color: #AFD3E2;
    height: 45%;
    border-radius: 7px;
    /*margin-top: 50px;*/
    /*margin-bottom: 50px;*/
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    font-size: 25px;
    overflow-y: scroll;
}



.student-name {
    background-color: #AFD3E2;
    border-radius: 7px;
    /*margin: 50px 10% -20px;*/
    width: 50%;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4%;
    font-size: 25px;
    white-space: nowrap;

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.buttons {
    text-align: center;
}

button {
    margin-top: auto;
    margin-bottom: auto;
    background-color: #19A7CE;
    border: none;
    border-radius: 7px;
    display: inline-block;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

    transition: 0.2s;
}

.teacher-buttons {
    /*margin-top: 140px;*/
    display: flex;
    justify-content: space-around;
}

button:hover {
    cursor: pointer;

    background-color: #146C94!important;
    transition: 0.2s;
}


.page-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-block {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

#header {
    position: absolute;
    left: 0;
    top: 0;
    height: 5em;
}

.flex {
    display: flex;
}

.modal {
    display: none; /* начинается с скрытия окна */
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    /* width: 50%; */
    max-height: 50%;
    overflow-y: auto;
    position: relative;
    border-radius: 10px;
}

.close {
    line-height: 19px;
    /* margin-top: 16px; */
    /* margin-bottom: 16px; */
    /* margin-right: 2px; */
    /* border: 1px; */
    background-color: #19A7CE;
    border-radius: 3px;
    /* border-top-width: 10px; */
    /* padding-top: 0px; */
    padding: 3px;

    color: #fff;
    float: right;
    /* font-size: 28px; */
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.close:hover {
        /* color: black; */
    background-color: #146C94!important;
    transition: 0.2s;
}

.initials {
    color: white;
    margin-right: 20px;
}