html {
    height: 100%;
}

body {
    background-color: #f6f1F1;
    height: 100%;
    font-family: "Trebuchet MS", serif;
}

.header {
    background-color: #146C94;
    height: 5em;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header h1 {
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    margin-left: 2em;
    margin-top: auto;
    margin-bottom: auto;
}

.header button {
    font-size: 1.2em;
}

.header .buttons {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.error {
    border-color: red;
}

.wrapper {
    margin-top: 5em;
    display: flex;
    height: 100%;
}

.left {
    width: 60%;
}

.right {
    width: 30%;
}

.ticket {
    background-color: #AFD3E2;
    width: 80%;
    height: 60%;
    border-radius: 7px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    font-size: 25px;
}

.queue {
    background-color: #AFD3E2;
    width: 100%;
    height: 45%;
    border-radius: 7px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    font-size: 25px;
    overflow-y: scroll;
}

.student-name {
    background-color: #AFD3E2;
    border-radius: 7px;
    margin: 50px 10% -20px;
    width: 50%;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    font-size: 25px;
}

.buttons {
    text-align: center;
}

button {
    margin: auto;
    background-color: #19A7CE;
    border: none;
    border-radius: 7px;
    display: inline-block;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-right: 20px;
}

.teacher-buttons {
    margin-top: 140px;
}

button:hover {
    background-color: #146C94;
    cursor: pointer;
}


.page-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-block {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

#header {
    position: absolute;
    left: 0;
    top: 0;
    height: 5em;
}

.flex {
    display: flex;
}

.modal {
    display: none; /* начинается с скрытия окна */
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-height: 50%;
    overflow-y: auto;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.close:hover {
    color: black;
}