html {
    height: 100%;
}

body {
    background-color: #f6f1F1;
    height: 100%;
    font-family: "Trebuchet MS" , serif;
}

.header {
    background-color: #f6f1F1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .h1 {
    font-size: 5em;
    font-weight: bold;
    font-family: "Comic Sans MS", serif;
}

.header .button {
    background-color: #e6ac00;
    border: none;
    color: #fff;
    padding: 1em 2em;
    font-size: 1.5em;
    margin: 2em;
    cursor: pointer;
    border-radius: 30px;
}

.error {
    border-color: red;
}

.wrapper {
    display: flex;
    height: 100%;
}

.left {
    width: 60%;
}

.right {
    width: 30%;
}

.ticket {
    background-color: #AFD3E2;
    width: 80%;
    height: 60%;
    border-radius: 7px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    font-size: 25px;
}

.queue {
    background-color: #AFD3E2;
    width: 100%;
    height: 45%;
    border-radius: 7px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    font-size: 25px;
    overflow-y: scroll;
}

.student-name {
    background-color: #AFD3E2;
    border-radius: 7px;
    margin: 50px 10% -20px;
    width: 50%;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    font-size: 25px;
}

.buttons {
    text-align: center;
}

button {
    margin: auto;
    background-color: #19A7CE;
    border: none;
    border-radius: 7px;
    display: inline-block;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-right: 20px;
}

.teacher-buttons {
    margin-top: 140px;
}

button:hover {
    background-color: #146C94;
    cursor: pointer;
}
