

.room-question-settings {
    height: 90%;
    width: auto;
    display: flex;
}

.create-room {
    display: flex;
    flex-direction: column;

    height: 90%;
}

.room-questions {
    max-width: 900px;
    min-width: 600px;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.room-settings {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.settings-header {
    padding: 0 10px;
}

.questions-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}

.questions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.question {
    background-color: #F2F6FC;
    width: fit-content;
    height: fit-content;
    overflow: clip;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.question:hover {
    background-color: #E1E5EA;
}

.question img {
    width: 250px;
    border-radius: 5px;
    overflow: clip;

}

.q-description {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 5px 10px;
}

.q-description h5{
    margin-top: 5px;
    margin-bottom: 5px;
}



.create-room-header {
    border-bottom: solid gray 2px;
    text-align: center;
}

.add-questions {
    margin-top: auto;
    padding: 10px;
}

.create-room-header h2 {
}