

.card {
    height: fit-content;
    width: 400px;
}

.card-footer {
    margin-top: 20px;
}

.card-footer p {
    text-align: center;
}



.inp-round {
    margin: 10px;
    padding:10px;
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    width: 90%;
}

.inp-round:focus {
    outline-color: gray;
}

.form-flex {
    display: flex;
    flex-direction: column;
}

.form-name {
    text-align: center;
}

.form-submit-btn {
}

.submit-btn {
    margin: 20px auto;
    width: 95%;
}

.input-error {
    border: 2px solid red;
    border-radius: 5px;
}

.password-requirements {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
.password-requirements li {
    margin: 5px 0;
}
.hidden {
    display: none;
}
